/*pagination block*/

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 55px;
    &__control {
        border: none;
        background: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &:focus &_svg-path {
            fill: #C29974;
        }
        &:hover &_svg-path {
            fill: #C29974;
        }
        &_svg-path {
            transition: $transition-duration; //не знаю как свойство fill указать
        }
        &:active path {
            opacity: 50%;
        }
        &_svg-transform {
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
    }
    &__pages {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        max-width: 600px;
        &_li {
            padding: 0;
            padding-top: 3px;
        }
        &_active {
            color: #C29974;
        }
        &_inactive {
            color: #1E0606;
        }
        &_button {
            font-family: 'Montserrat', 'Arial', 'sans-serif';
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0;
            padding-right: 32px;
            padding-left: 32px;
            border: 0;
            background: none;
            cursor: pointer;
            transition: opacity $transition-duration;
            &:hover,
            &:focus {
                opacity: 0.5;
            }
        }
    }
}