<section class="container">
    <h2 class="visually-hidden">Page pagination</h2>
    <div class="pagination">
        <button class="pagination__control">
            <svg class="pagination__control_svg pagination__control_svg-transform" viewBox="0 0 18 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="pagination__control_svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M2.82846 0L3.62396e-05 2.82843L11.5858 14.4142L3.62396e-05 26L2.82846 28.8284L17.2427 14.4142L2.82846 0Z" fill="#e4e1e1"/>
                </svg>
        </button>
        <ul class="pagination__pages">
            <li class="pagination__pages_li">
                <button class="pagination__pages_active pagination__pages_button">1</button>
            </li>
            <li class="pagination__pages_li">
                <button class="pagination__pages_inactive pagination__pages_button">2</button>
            </li>
            <li class="pagination__pages_li">
                <button class="pagination__pages_inactive pagination__pages_button">3</button>
            </li>
            <li class="pagination__pages_li">
                <button class="pagination__pages_inactive pagination__pages_button">4</button>
            </li>
        </ul>
        <button class="pagination__control">
            <svg class="pagination__control_svg" viewBox="0 0 18 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="pagination__control_svg-path" fill-rule="evenodd" clip-rule="evenodd" d="M2.82846 0L3.62396e-05 2.82843L11.5858 14.4142L3.62396e-05 26L2.82846 28.8284L17.2427 14.4142L2.82846 0Z" fill="#e4e1e1"/>
                </svg>
        </button>
    </div>
</section>