
$transition-duration: 15s;

@keyframes move-taxi {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-1370px);
    }
    70% {
        transform: translateX(-1370px);
    }
    100% {
        transform: translateX(-2500px);
    }
}

@keyframes woman-message {
    0% {
        transform: scale(0);
    }
    11% {
        transform: scale(0);
    }
    15% {
        transform: scale(1);
    }
    26% {
        transform: scale(1);
    }
    30% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes hand {
    0% {
        transform: rotate(150deg);
    }
    20% {
        transform: rotate(150deg);
    }
    26% {
        transform: rotate(150deg);
    }
    30% {
        transform: rotate(0deg);
    }
    48% {
        transform: rotate(0deg);
    }
    52% {
        transform: rotate(150deg);
    }
    100% {
        transform: rotate(150deg);
    }
}

@keyframes man-message {
    0% {
        transform: scale(0);
    }
    31% {
        transform: scale(0);
    }
    35% {
        transform: scale(1);
    }
    41% {
        transform: scale(1);
    }
    45% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes taxi-message {
    0% {
        transform: scale(0);
    }
    47% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    54% {
        transform: scale(1);
    }
    66% {
        transform: scale(1);
    }
    70% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}








.animation {
    position: relative;
    &__clouds {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
    }
    &__city {
        padding-top: 188px;
        padding-bottom: 70px;
        right: 0;
        width: 100%;
    }
    &__cars {
        position: absolute;
        top: 462px;
        left: 0;
        z-index: 1;
    }
    &__lantern {
        &_left {
            position: absolute;
            top: 224px;
            left: 432px;
            z-index: 2;
        }
        &_right {
            position: absolute;
            top: 224px;
            left: 1307px;
            z-index: 2;
        }
    }
    &__taxi {
        position: absolute;
        top: 453px;
        left: 1450px;
        z-index: 3;
        animation: move-taxi $transition-duration;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &_group {
            position: relative;
        }
        &_message {
            position: absolute;
            top: -56px;
            left: 314px;
            animation: taxi-message $transition-duration;
            animation-iteration-count: infinite;
        }
    }
    &__nearest-lantern {
        position: absolute;
        top: 214px;
        left: 1026px;
        z-index: 3;
    }
    &__woman {
        position: absolute;
        top: 508px;
        left: 182px;
        z-index: 4;
        &_wrapper {
            position: relative;
        }
        &_message {
            position: absolute;
            top: -99px;
            left: -90px;
            animation: woman-message $transition-duration;
            animation-iteration-count: infinite;
        }
        &_suitcases {
            position: absolute;
            bottom: 5px;
            left: -10px;
        }
    }
    &__man {
        position: absolute;
        top: 422px;
        left: 288px;
        z-index: 5;
        &_wrapper {
            position: relative;
        }
        &_body {
        }
        &_message {
            position: absolute;
            top: -84px;
            left: -10px;
            animation: man-message $transition-duration;
            animation-iteration-count: infinite;
        }
        &_hand {
            position: absolute;
            top: -38px;
            left: 0px;
            transform: rotate(150deg);
            transform-origin: 13% 91%;
            z-index: -1;
            animation: hand $transition-duration;
            animation-iteration-count: infinite;
        }
    }
}