.blog-card {
    position: relative;
    margin: 0;
    margin-right: 0px;
    margin-bottom: 14px;
    padding: 0 10px;
    width: 100%;
    max-width: 420px;
    @media (min-width: 420px) {
        width: 50%;
        max-width: 420px;
    }
    @media (min-width: 801px) {
        width: 33.33%;
        max-width: 420px;
    }
    &__img {
        display: block;
        width: 100%;
        padding-bottom: 0px;
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        text-decoration: none;
        &:hover ~ .blog-card__title {
            text-decoration-color: $blog-card-title-color;
        }
        &:focus ~ .blog-card__title {
            text-decoration-color: $blog-card-title-color;
        }
    }
    &__date {
        margin: 0;
        padding-top: 10px;
        color: #818181;
        text-decoration: none;
        font-size: 14px;
        line-height: 16.41px;
        @media (min-width: 760px) {
            padding-top: 15px;
            font-size: 16px;
            line-height: 18.75px;
        }
        @media (min-width: 801px) {
            padding-top: 20px;
            font-size: 16px;
            line-height: 18.75px;
        }
    }
    &__title {
        margin: 0;
        margin-top: 4px;
        font-family: 'Montserrat', 'Arial', 'sans-serif';
        font-weight: bold;
        font-size: 18px;
        line-height: 21.94px;
        text-decoration: underline;
        text-decoration-color: transparent;
        color: $blog-card-title-color;
        transition: text-decoration-color $transition-duration;
        @media (min-width: 760px) {
            margin-top:5px;
            font-size: 24px;
            line-height: 31px;
        }
        @media (min-width: 801px) {
            margin-top: 10px;
            font-size: 24px;
            line-height: 31px;
        }
    }
    &__preview {
        margin-top: 7px;
        margin-bottom: 11px;
        font-size: 16px;
        line-height: 21.79px;
        color: #1E0606;
        @media (min-width: 760px) {
            margin-top: 10px;
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 24.51px;
        }
        @media (min-width: 801px) {
            margin-top: 15px;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 24.51px;
        }
    }
}