/**Form stile**/


.index-popup {
    position: fixed;
    display: none;
    top: 0px;
    left: 50%;
    margin: 0 auto;
    margin-top: 128px;
    transform: translate(-50%,0);
    // height: 555px;
    // overflow-y: auto;
    @media (min-width: 760px) {
        margin-top: 241px;
    }
    @media (min-width: 801px) {
        margin-top: 113px;
    }
    &__overlay {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(125, 151, 218, 0.8);
        z-index: 1;
        &.open {
            display: block;
        }
        &.open .index-popup {
            display: block;
        }
    }
    &__form {
        margin: 0 auto;
        width: 335px;
        @media (min-width: 760px) {
            width: 648px;
        }
        @media (min-width: 1141px) {
            width: 680px;
        }
    }
    &__fieldset {
        margin: 0;
        padding: 0;
        border-width: 0;
        padding: 25px 25px;
        background-color: #E5EAF8;
        // height: 555px;
        // overflow-y: auto;
        @media (min-width: 767px) {
            padding: 42px 30px;
        }
    }
    &__inputs_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    &__label-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
    }
    &__label-wrapper_top {
        width: 100%;
    }
    &__label-wrapper_center {
        width: 100%;
        @media (min-width: 767px) {
            width: 50%;
        }
    }
    &__label-wrapper_bottom {
        width: 100%;
    }
    &__label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        font-family: 'Roboto', 'Arial', 'sans-serif';
        font-size: 14px;
        line-height: 16px;
        color: #1E0606;
        @media (min-width: 767px) {
            margin-bottom: 6px;
        }
    }
    
    &__input {
        display: block;
        margin-bottom: 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 12px 20px 11px 20px;
        min-height: 50px;
        font-size: 14px;
        line-height: 16px;
        color: #1E0606;
        transition: border-color $transition-duration;
        @media (min-width: 667px) {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 19px;
        }
        @media (min-width: 801px) {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 21px;
        }
        &:hover {
            border-color: rgba(0, 0, 0, 0.3);
        }
        &::placeholder {
            font-family: 'Open Sans', 'Arial', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            color: #1E0606;
            @media (min-width: 667px) {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 19px;
            }
            @media (min-width: 801px) {
                margin-bottom: 20px;
                font-size: 18px;
                line-height: 21px;
            }
        }
        &_user-name {
            width: 100%;
        }
        &_user-phone {
            width: 100%;
        }
        &_user-email {
            width: 100%;
        }
        &_user-message {
            width: 100%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin-bottom: 8px;
            padding-left: 20px;
            padding-top: 11px;
            padding-right: 20px;
            resize: none;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 0.2);
            transition: width $transition-duration, margin-bottom $transition-duration, border-color $transition-duration;
            &:hover {
                width: 100%;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                margin-bottom: 8px;
                border: 1px solid;
                border-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
    &__label-consent {
        position: relative;
        margin: 0;
        padding-top: 2px;
        padding-left: 34px;
        font-family: 'Roboto', 'Arial', 'sans-serif';
        font-size: 14px;
        line-height: 16px;
        color: #1E0606;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #C29974;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border-radius: 3px;
        }
        &::after {
            content: '';
            position: absolute;
            background-image: none;
            top: 0;
            left: 0;
            width: 19px;
            height: 19px;
            border: 2px solid #C29974;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border-radius: 3px;
            transition: border-color $transition-duration;
        }
    }
    &__input-consent {
        &:checked + .index-popup__label-consent::after {
            background-image: url('/static/images/index-checkbox.png');
            background-repeat: no-repeat;
            background-color: #E5EAF8;
        }
        &:focus + .index-popup__label-consent::after,
        &:hover + .index-popup__label-consent::after {
            border-color: #836E5B;
        }
    }
    &__button-subscribe {
        display: block;
        margin-top: 15px;
        padding: 9px 22px;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #E1E1E1;
        border: 0;
        background-color: #C1C1C1;
        @media (min-width: 767px) {
            margin-top: 20px;
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__button-close {
        position: absolute;
        top: -25px;
        right: 7px;
        width: 15px;
        height: 15px;
        background-color: #97ace1;
        border: none;
        @media (min-width: 801px) {
            top: 0;
            right: -25px;
        }
        cursor: pointer;
        &:hover .index-popup__close-svg {
            fill-opacity: 0.5;
        }
    }
    &__close-svg {
        transition: fill-opacity $transition-duration;
    }
}
