<header class="header container">
  <a class="header__logo-link" href="/index.html"><img class="header__logo" src="/static/images/logo.png" alt="dlk company logo" width="100" height="52"></a>
  <nav class="header__nav">
      <ul class="header__nav-list">
          <li class="header__nav-link"><a class="header__nav-link_a" href="/pages/blog">Blog</a></li>
          <li class="header__nav-link"><a class="header__nav-link_a" href="/pages/catalog">Catalog</a></li>
          <li class="header__nav-link"><a class="header__nav-link_a" href="/pages/toys">Toys</a></li>
          <li class="header__nav-link"><a class="header__nav-link_a" href="/pages/animation">Animation</a></li>
          <li class="header__nav-link"><a class="header__nav-link_a" href="#">SVG</a></li>
          <li class="header__nav-link"><a class="header__nav-link_a" href="#">Grid</a></li>
      </ul>
  </nav>
  <button class="header__search_button" type="button">
      <img class="header__search_img header__search" src="/static/images/search-icon.png" alt="site search" width="17" height="18">
  </button>
  <a class="header__contact_button" href="/pages/contact-us">Contact us</a>
</header>