<header class="header container">
  <a class="index-link" href="/index.html"><img class="header-logo" src="/static/images/logo.png" alt="dlk company logo" width="100" height="52"></a>
  <nav class="header-nav">
      <ul class="header-nav-list">
          <li class="header-nav-link"><a class="nav-link" href="/pages/blog">Blog</a></li>
          <li class="header-nav-link"><a class="nav-link" href="/pages/catalog">Catalog</a></li>
          <li class="header-nav-link"><a class="nav-link" href="/pages/toys">Toys</a></li>
      </ul>
  </nav>
  <button class="button-search" type="button">
      <img class="header-search" src="/static/images/search-icon.png" alt="site search" width="17" height="18">
  </button>
  <a class="button-contact" href="/pages/contact-us">Contact us</a>
</header>