.company-goods {
    &__card {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 8px;
        padding-left: 8px;
        width: 50%;
        min-width: 160px;
        @media (min-width: 620px) {
            width: 33.33%;
            max-width: 380px;
            padding-right: 10px;
            padding-left: 10px;
        }
        @media (min-width: 820px) {
            padding-bottom: 20px;
        }
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
        &:hover .company-goods__user-attention { //не получилось плавный выход из ховера сделать
            top: 20px;
            left: 50%;
            width: 207px;
            height: 207px;
            margin-left: -104px;
            margin-top: 89px;
            padding-top: 82px;
            background-color: #E5EAF8;
            font-family: 'Montserrat', 'Arial', 'sans-serif';
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 29px;
            text-align: center;
            text-transform: uppercase;
            color: #1E0606;
            opacity: 0.9;
        }
        &:focus .company-goods__user-attention {
            top: 20px;
            left: 50%;
            width: 207px;
            height: 207px;
            margin-left: -104px;
            margin-top: 89px;
            padding-top: 82px;
            background-color: #E5EAF8;
            font-family: 'Montserrat', 'Arial', 'sans-serif';
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 29px;
            text-align: center;
            text-transform: uppercase;
            color: #1E0606;
            opacity: 0.9;
        }
        &:active .company-goods__user-attention {
            opacity: 0.67;
        }
    }
    &__user-attention {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0px;
        overflow: hidden;
        transition: background-color $transition-duration, font-size $transition-duration;
    }
    &__img {
        display: block;
        width: 100%;
        
        height: auto;
    }
    &__description {
        margin-top: 25px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        text-align: center;
        @media (min-width: 620px) {
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__cost {
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        @media (min-width: 620px) {
            font-size: 14px;
            line-height: 19px;
        }
        @media (min-width: 820px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}