/*Footer*/

.footer {
  background: #434343;
  text-transform: capitalize;
  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding: 0;
    padding-top: 0;
    padding-bottom: 13px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #666666;
    &_title {
      display: block;
      width: 380px;
      margin-top: 100px;
      margin-bottom: 25px;
      padding-bottom: 23px;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: #666666;
      font-family: 'Open Sans', 'Arial', 'sans-serif';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #AAAAAA;
    }
    &_items {
      padding: 0;
      padding-top: 3px;
    }
    &_item {
      margin-bottom: 16px;
      font-family: 'Open Sans', 'Arial', 'sans-serif';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      &:hover {
        opacity: 50%;
      }
      &:active {
        opacity: 20%;
      }
    }
    &_link {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
  &__connect {
    &_items {
      padding: 0;
    }
    &_item {
      position: relative;
    }
  }
  &__subscribe {
    margin-top: 25px;
    height: 40px;
    border: none;
    &_input {
      width: 299px;
      height: 40px;
      padding: 9px 98px 9px 13px;
      border: none;
      color: #EBEBEB;
      background-color: #666666;
      border: 1px solid #666666;
      &:hover,&:active {
        border: 1px solid #FFFDFD;
      }
      &::-webkit-input-placeholder {
        font-family: 'Open Sans', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #EBEBEB;
      }
      &::-moz-placeholder {
        font-family: 'Open Sans', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #EBEBEB;
      }
      &:-ms-input-placeholder {
        font-family: 'Open Sans', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #EBEBEB;
      }
      &::-ms-input-placeholder {
        font-family: 'Open Sans', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #EBEBEB;
      }
      &::placeholder {
        font-family: 'Open Sans', 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #EBEBEB;
      }
    }
    &_button {
      position: absolute;
      top: 0;
      right: 0;
      width: 81px;
      padding: 9px 22px;
      font-family: 'Open Sans', 'Arial', 'sans-serif';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      line-height: 22px;
    }
  }
  &__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    max-width: 299px;
    &__social_link {
      margin: 0;
      margin-right: 10px;
    }
    &_svg {
      width: 30px;
      height: 30px;
      line-height: 35px;
      background: #666666;
      margin: 0;
      margin-right: 10px;
      border-radius: 50%;
      text-align: center;
      &:hover .svg-icon {
        opacity: 50%;
      }
      &:active .svg-icon {
        opacity: 20%;
      }
    }
  }
  &__nav-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    padding-bottom: 100px;
    color: #FFFFFF;
    &_item {
      display: block;
      width: 380px;
      margin-right: 0;
      border-style: solid;
      border-width: 0 0 0 0;
    }
    &_copyright {
      margin: 0;
      text-decoration: none;
      color: #FFFFFF;
    }
    &_and-text {
      margin: 0;
      text-decoration: none;
      color: #A2A2A2;
      &:hover,
      &:active {
        margin: 0;
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
        color: #FFFFFF;
      }
    }
  }
  &__rating {
    position: relative;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    border: none;
    &:hover {
      color: #C29974;
      cursor: pointer;
    }
    &_group {
      position: relative;
      width: 100px;
      height: 15px;
      margin-left: 147px;
      background-image: url(/static/images/Star.svg);
      background-size:  20px 13px;
      background-repeat: repeat-x;
      background-color: #434343;
    }
    &_star {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      height: 15px;
      background-size: 20px 14px;
      font-size: inherit;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-repeat: repeat-x;
      &:hover {
        background-image: url(/static/images/Star-hover.svg);
        background-color: #434343;
        cursor: pointer;
      }
      &:checked {
        background-image: url(/static/images/Star-active.svg);
        background-color: #434343;
        cursor: pointer;
      }
      &:hover ~ .footer__rating_star {
        background-image: url(/static/images/Star.svg);
        background-color: #434343;
      }
      &:checked ~ .footer__rating_legend {
        color: #C29974;
      }
      &:nth-of-type(1) {
        z-index: 5;
        width: 20px;
        margin-right: 2px;
      }
      &:nth-of-type(2) {
        z-index: 4;
        width: 40px;
      }
      &:nth-of-type(3) {
        z-index: 3;
        width: 60px;
      }
      &:nth-of-type(4) {
        z-index: 2;
        width: 80px;
      }
      &:nth-of-type(5) {
        z-index: 1;
        width: 100px;
      }
    }
    &_legend {
      position: absolute;
      top: -4px;
      left: -148px;
      width: 150px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}




