/*top main*/

.page-title {
    margin-bottom: 0;
    padding-top: 16px;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

/*breadcrumbs-block*/

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 15px;
    &__link {
        text-decoration: none;
        transition: opacity $transition-duration;
        &:hover,&:focus {
            opacity: 50%;
        }
        &:active {
            opacity: 20%;
        }
    }
    &__page-inactive {
        position: relative;
        margin: 0;
        margin-right: 48px;
        font-family: 'Crimson Text', 'Arial', 'sans-serif';
        font-style: italic;
        font-size: 20px;
        line-height: 25px;
        color: #1E0606;
        &::before {
            content: url(/static/images/breadcrumbs-vector.png);
            position: absolute;
            top: 0;
            right: -23px;
        }
    }
    &__active-page {
        margin: 0;
        font-family: 'Crimson Text', 'Arial', 'sans-serif';
        font-style: italic;
        font-size: 20px;
        line-height: 25px;
        color: #1E0606;
        opacity: 0.5;
    }
}
